.onboarding-module-container {
  display: inline-block;
}

.header-container {
  display: flex;
  justify-content: flex-end;
}

.image-container {
  display: flex;
  padding: 24px 0px;
  position: relative;
  margin-top: 100px;
}

.content-container {
  display: block;
  padding: 24px 0px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  gap: 8px;
}

.icon-wrapper {
  padding: 8px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.164);
  display: inline-block;
  margin: 40px 0px;
}

.footer-container {
  display: flex;
  flex: 1;
  gap: 8px;
}
